@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model RazorPageControl_MVC.Pages.IndexModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="m-5 text-danger">Special Info @Model.Message</h1>

<div class="alert alert-warning" role="alert">
    @Model.Info
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model.Products!)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <th scope="row">@item.Name</th>
                <th scope="row">@item.Price ₼</th>
                <th scope="row">
                    <form method="post" asp-page-handler="Update">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-danger">Edit</button>
                    </form>
                </th>
                <th scope="row">
                    <form method="post" asp-page-handler="Delete">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </th>
            </tr>
        }
    </tbody>

    <form class="col-5" method="post">
        <div class="mb-3">
            <label class="form-label">Product Name</label>
            <input asp-for="Product.Name" type="text" class="form-control"/>
        </div>

        <div class="mb-3">
            <label class="form-label">Product Price ₼</label>
            <input asp-for="Product.Price" type="number" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Save Product</button>

    </form>

</table>